{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("home_custom") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("home_custom") }}
{% endblock %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<main>
    <h1>Bienvenue sur PictoCraft, user{# app.user.username #}&nbsp;!</h1>

    <p>Test police - paragraphe à supprimer | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, voluptatum!</p>

    <section id="actions">
        <h2>Que souhaites-tu faire&nbsp;?</h2>

        <section id="happening-now">
            <h3>En ce moment</h3>

            <div class="grid">
                {% for i in 1..4 %}
                    {% include "home/_action.html.twig" %}
                {% endfor %}
            </div>
        </section>

        <section id="frequently-used">
            <h3>Utilisés fréquemment</h3>

            <div class="grid">
                {% for i in 1..4 %}
                    {% include "home/_action.html.twig" %}
                {% endfor %}
            </div>
        </section>

        <hr>

        <section id="permanent">
            <div class="grid grid-2r">
                {% for i in 1..8 %}
                    {% include "home/_action.html.twig" %}
                {% endfor %}
            </div>
        </section>
    </section>
</main>
{% endblock %}