<header id="main-header">
    <a href="{{ path("home") }}" id="mobile-top-left-corner" class="bg-primary">
        {% include "shared/_logo.html.twig" with { "height": "35" } %}
    </a>

    <nav class="navbar navbar-expand bg-primary">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-md-0" href="{{ path("home") }}">
                    {% include "shared/_logo.html.twig" with { "height": "40" } %}
                </a>
                <!-- Left links -->
                <ul class="navbar-nav mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("shop_home") }}">Boutique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Discord</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Minecraft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Évènements</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbar-top-dropdown-autres"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Autres
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-top-dropdown-autres">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div id="navbar-right" class="d-flex align-items-center">
                <!-- Icon -->
                <a class="text-reset" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <!-- Notifications -->
                <div class="dropdown">
                    <a
                            class="text-reset dropdown-toggle hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </div>
                <!-- Avatar -->
                <div class="dropdown">
                    <a
                            class="dropdown-toggle d-flex align-items-center hidden-arrow"
                            href="#"
                            id="navbarDropdownMenuAvatar"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <img
                                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                class="rounded-circle"
                                height="25"
                                alt="Black and White Portrait of a Man"
                                loading="lazy"
                        />
                    </a>
                    <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuAvatar"
                    >
                        {% if app.user %}
                            <li>
                                <a class="dropdown-item" href="#">Mon profil</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Paramètres</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path("app_logout", {"_csrf_token": csrf_token("logout")}) }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-item" href="{{ path("app_login") }}">Connexion</a>
                            </li>
                            <li data-mdb-toggle="tooltip" title="Indisponible pour le moment">
                                <a class="dropdown-item disabled" href="#">Inscription</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
</header>